:root {
  --accent-warm: #FF6347; /* Tomato */
  --accent-warm-dark: #FF4500; /* OrangeRed */
  --accent-warm-light: #FFA07A; /* LightSalmon */
  --accent-warm-darker: #CD5C5C; /* IndianRed */
}

.gradient-background {
  background: linear-gradient(90deg, #FFA07A 0%, #CD5C5C 50%,  #FFA07A 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-page h1 {
  font-size: 3.5em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white;
  width: 0;
  animation: typing 9s steps(40, end) infinite alternate, blink-caret .5s step-end infinite;
}

@keyframes typing {
  0%, 100% { width: 0; }
  50% { width: 85%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

.landing-page p {
  font-size: 2em;
  margin: 15px;
  margin-bottom: 30px;
}

.features {
  display: flex;
  width: 0%;
  gap: 120px; 
  margin-bottom: 10px;
  justify-content: center; 
  margin-Right: 40px;
}



.button-73 {
  appearance: none;
  background-color: var(--accent-warm-light);
  border-radius: 40em;
  border-style: none;
  box-shadow: var(--accent-warm-light) 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 20px;
  outline: none;
  padding: 1rem 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: var(--accent-warm-darker);
  box-shadow: var(--accent-warm-darker) 0 -6px 8px inset;
  transform: scale(1.125);
  color: white;
}

.button-73:active {
  transform: scale(1.025);
  color: white;
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
