.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1rem;
    position: fixed;
    right: 0;
    height: 100%;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 0.5rem 0;
}
